<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainArray</key>
	<array>
		<array>
			<array>
				<string>Какое Ваше телосложение?</string>
			</array>
			<array>
				<string>худое и хрупкое</string>
				<string>среднее</string>
				<string>хорошо развитые мышцы</string>
				<string>склонность к полноте </string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши бедра?</string>
			</array>
			<array>
				<string>узкие</string>
				<string>широкие</string>
				<string>средние</string>
				<string>не уверен(а)</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши плечи?</string>
			</array>
			<array>
				<string>Широкие</string>
				<string>Узкие</string>
				<string>Средние</string>
				<string>Не уверен(а)</string>
			</array>
			<array>
				<string>3</string>
				<string>1</string>
				<string>2</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какая ваша кожа?</string>
			</array>
			<array>
				<string>сухая, темноватая</string>
				<string>желтоватая, много потеет</string>
				<string>веснушки, родинки</string>
				<string>блестит и лоснится, белая</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какая ваша обычная температура тела?</string>
			</array>
			<array>
				<string>низкая, холодные конечности</string>
				<string>высокая, ощущение теплоты</string>
				<string>низкая, прохладная на ощупь</string>
				<string>не знаю</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие Ваши зубы?</string>
			</array>
			<array>
				<string>желтоватые, средние</string>
				<string>нерегулярные, маленькие, легко ломаются</string>
				<string>белые, большие, крепкие</string>
				<string>не могу определить</string>
			</array>
			<array>
				<string>2</string>
				<string>1</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
	</array>
</dict>
</plist>
