<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainArray</key>
	<array>
		<array>
			<array>
				<string>Какое Ваше телосложение?</string>
			</array>
			<array>
				<string>худое и хрупкое</string>
				<string>среднее</string>
				<string>хорошо развитые мышцы</string>
				<string>склонность к полноте </string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши бедра?</string>
			</array>
			<array>
				<string>узкие</string>
				<string>широкие</string>
				<string>средние</string>
				<string>не уверен(а)</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши плечи?</string>
			</array>
			<array>
				<string>Широкие</string>
				<string>Узкие</string>
				<string>Средние</string>
				<string>Не уверен(а)</string>
			</array>
			<array>
				<string>3</string>
				<string>1</string>
				<string>2</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какая ваша кожа?</string>
			</array>
			<array>
				<string>сухая, темноватая</string>
				<string>желтоватая, много потеет</string>
				<string>веснушки, родинки</string>
				<string>блестит и лоснится, белая</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какая ваша обычная температура тела?</string>
			</array>
			<array>
				<string>низкая, холодные конечности</string>
				<string>высокая, ощущение теплоты</string>
				<string>низкая, прохладная на ощупь</string>
				<string>не знаю</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие Ваши зубы?</string>
			</array>
			<array>
				<string>желтоватые, средние</string>
				<string>нерегулярные, маленькие, легко ломаются</string>
				<string>белые, большие, крепкие</string>
				<string>не могу определить</string>
			</array>
			<array>
				<string>2</string>
				<string>1</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши губы?</string>
			</array>
			<array>
				<string>тонкие, тёмные</string>
				<string>сухие, потрескавшиеся</string>
				<string>мягкие, розовые или медного цвета</string>
				<string>толстые, полные, влажные</string>
			</array>
			<array>
				<string>1</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши пальцы на руках?</string>
			</array>
			<array>
				<string>длинные и тонкие</string>
				<string>средние</string>
				<string>толстые</string>
				<string>относительно короткие</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши ногти?</string>
			</array>
			<array>
				<string>короткие, грубые</string>
				<string> средние, мягкие, розовые</string>
				<string>ломкие, тёмные, тусклые</string>
				<string>длинные, толстые, хорошо округлённые</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>1</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Где располагается максимальное количество жира в вашем теле?</string>
			</array>
			<array>
				<string>в области живота и талии</string>
				<string>распределён равномерно</string>
				<string>в основном вокруг бёдер и ягодиц</string>
				<string>не уверен(а)</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие рост и комплекция ближе к вашему?</string>
			</array>
			<array>
				<string>очень низкий (худое тело)</string>
				<string>очень высокий (худое тело)</string>
				<string>средний</string>
				<string>высокий или низкий (и тучное тело)</string>
			</array>
			<array>
				<string>1</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Опишите ваши суставы</string>
			</array>
			<array>
				<string>выступающие, сухие, узловатые</string>
				<string>нормальные, соразмерные</string>
				<string>большие, хорошо сформированные</string>
				<string>крупные, округлённые</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Опишите ваши вены</string>
			</array>
			<array>
				<string>легко заметные</string>
				<string>равномерно распределённые</string>
				<string>заметные но не выступающие</string>
				<string>не видны</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Опишите ваши волосы</string>
			</array>
			<array>
				<string>тонкие, тёмные, грубые, вьющиеся</string>
				<string>красивые, мягкие, прямые, светлые</string>
				<string>рыжеватые или песчаные</string>
				<string>густые, толстые, волнистые, блестящие, чёрные или коричневые</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Ваше лицо по форме:</string>
			</array>
			<array>
				<string>вытянутое, угловатое, подбородок слаборазвитый</string>
				<string>сердцевидное, подбородок часто заострённый</string>
				<string>овальное без видимых ушловатостей</string>
				<string>большое, округлое, полное</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>1</string>
				<string>3</string>
			</array>
		</array>
		<array>
			<array>
				<string>Ваша шея:</string>
			</array>
			<array>
				<string>тонкая, очень длинная или очень короткая</string>
				<string>средняя, пропорциональная</string>
				<string>широкая, мощная</string>
				<string>не уверен(а)</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Каков ваш нос?</string>
			</array>
			<array>
				<string>маленький, узкий, нос с горбинкой</string>
				<string>средний, ровный, заострённый</string>
				<string>большой, округлый, нос картошкой</string>
				<string>другой</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какие ваши глаза?</string>
			</array>
			<array>
				<string>маленькие, узкие, запавшие, тёмно-коричневые или серые, тусклые</string>
				<string>средние, светло-синие, светло-серые или карие, выразительные</string>
				<string>большие, навыкате, синие или светло-коричневые, привлекательные</string>
				<string>другие</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какой ваш рот?</string>
			</array>
			<array>
				<string>маленький</string>
				<string>средний</string>
				<string>большой</string>
				<string>не могу оценить</string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
		</array>
		<array>
			<array>
				<string>Какое Ваше телосложение?</string>
			</array>
			<array>
				<string>худое и хрупкое</string>
				<string>среднее</string>
				<string>хорошо развитые мышцы</string>
				<string>склонность к полноте </string>
			</array>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>3</string>
			</array>
		</array>
	</array>
</dict>
</plist>
